name: 'Create infrastructure'
on:
  workflow_dispatch:
    inputs:
      subdomain:
        description: 'Subdomain'     
        required: true

jobs:
  terraform:
    name: 'Terraform'
    # So that this workflow is not triggered by anyone else than me
    if: github.actor == 'jirihofman'
    runs-on: ubuntu-latest
    env:
      SUBDOMAIN: ${{ github.event.inputs.subdomain }}

    steps:
    - name: Print the actor
      run: |
        echo "This workflow was triggered by ${{ github.actor }}"
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"
        terraform_wrapper: false

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_subdomain: ${{ env.SUBDOMAIN }}

    - name: Terraform Apply
      id: apply
      run: terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_subdomain: ${{ env.SUBDOMAIN }}
    
    - name: Terraform Output
      id: terraform
      run: |
        terraform output webserver_url
        echo 000
        curl $(terraform output webserver_url) || true

    - name: Curl Call
      run: curl $(terraform output webserver_url) || true
    - name: Wait 10 seconds
      run: sleep 10
    - name: Curl Call again
      run: curl $(terraform output webserver_url) || true

