name: 'Create infrastructure'
on:
  workflow_dispatch:
    inputs:
      subdomain:
        description: 'Subdomain'     
        required: true

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    env:
      SUBDOMAIN: ${{ github.event.inputs.subdomain }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.14.9

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_subdomain: ${{ env.SUBDOMAIN }}

    - name: Terraform Apply
      run: terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TF_VAR_subdomain: ${{ env.SUBDOMAIN }}
    
    - name: Terraform Output
      id: terraform
      run: |
        terraform output webserver_url
        terraform output -raw webserver_url
        URL=$(terraform output webserver_url)
        echo $URL
        echo "webserver_url=${URL}" >> $GITHUB_ENV

    - run: echo ${{ env.webserver_url }}
    - name: Curl Call
      run: curl ${{ env.webserver_url }}
    - name: Wait 10 seconds
      run: sleep 10
    - name: Curl Call again
      run: curl ${{ env.webserver_url }}

